.air-quality-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 5px;
  align-items: center;
  cursor: pointer;
  font-weight: bolder;
  font-size: 1.2rem;
  position: relative;
}

.air-quality-heading{
  background-color: rgb(103, 92, 92,0.7);
  padding:8px;
  border-radius: 20px;
}

.air-quality-container-day{
  color:rgb(77, 9, 91);
}

.air-quality-container-night{
  color:white;
}

.air-quality-data{
  font-weight: bold;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 350px;
  height:350px;
  background-color: rgb(103, 92, 92,0.3);
}

/* .air-quality-data:hover, .air-quality-heading:hover~.air-quality-data{
  opacity: 1;
} */


.air-quality-data>p{
  padding:2px;
}

.air-quality-data p span{
  font-size: 1.3rem;
  color:rgb(80, 80, 213);
  margin:10px;
}

