.weather-top-section-container{
  border-radius: 10px;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  align-items: center;
  padding: 10px;
}

.weather-top-section-1{
  width:50%;
  display :flex;
  flex-wrap: wrap;
  align-items: center;
}

.icon{
  width: 150px;
  height:150px;
  position: relative;
  z-index: 999;
}

.weather-icon{
  width: 3.5rem;
}

.weather-clearance{
  font-size: 1.5rem;
}

.temperature{
  font-size: 4.5rem;
}


