.weather-component-container{
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  min-height:100dvh;
}

.day{
  background-image: url('../images/day.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


.night{
  color: white;
  background-image: url('../images/night.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}



.weather-header-container{
  border-radius: 10px;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  align-items: center;
  padding: 10px;
}

.weather-header-section-1{
  width:50%;
  display :flex;
  flex-wrap: wrap;
  align-items: center;
}

.icon{
  width: 150px;
  height:150px;
  position: relative;
  z-index: 999;
}

.weather-icon{
  width: 3.5rem;
}

.weather-clearance{
  font-size: 1.5rem;
}

.temperature{
  font-size: 4.5rem;
}

.mid-section{
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  width: 80%;
  padding: 20px;
}

.date-container{
  display: flex;
  flex-wrap: wrap;
  width: 35%;
  justify-self: flex-start;
}

.date-icon{
  width: 2rem;
}

.location-container{
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  gap:10px;
  background-color: hsla(33, 93%, 63%, 0.3);
  padding: 10px;
  border-radius: 20px;
}

.location-icon{
  width:2.5rem;
}

.location-city{
  font-size: 4rem;
}

.location-region{
  font-weight: 700;
}

.humidity-container{
  display: flex;
  flex-wrap: wrap;
  gap:10px;
  justify-content: center;
  margin:50px;
  padding: 10px;
  border-radius: 20px;
  background-color: rgb(103, 92, 92,0.4);
}

.humidity-icon{
  width: 1.5rem;
}

.humidity{
  font-size: 1.5rem;
}

.temperature-container{
  background-color: rgb(174, 191, 191,0.2);
  padding:10px;
  border-radius: 20px;
}

.other-details-container{
  background-color: rgb(150, 121, 177,0.5);
  border-radius: 20px;
  margin: 10px;
}

.other-details-container p{
  font-size: 1.5rem;
  margin: 10px;
}

.wind-container, .cloud-container {
  display: flex;
  gap: 5px;
  padding: 10px;
}

.wind-icon, .cloud-icon{
  width: 2rem;
}